<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Transparent Login Form with Blur Background</title>
	<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap" rel="stylesheet">
	<link href="/static/css/main.css" rel="stylesheet">
</head>
<body>
	<div class="contact-form">
        <div class="main-cont">
    <div class="outputfromai">
            <p>hello there</p>
    </div>
    <div class="usrtext">
        <p>user text</p>
    </div>
        
           
        </div>
        <div class="input-group">
            <input type="text" class="inputtext">
            <input type="button" value="ask to ai" class="submit-button">
        </div>
	</div>
</body>
</html>
